hr{
    margin-left: 2rem;
    margin-right: 2rem;
}
.selected-section{
    background: #DCDCDC; 
    position: sticky;
    top: 90px;
}
.title-color{
    /* color: orange; */
    font-weight: 700;
    margin-top: 100px;
}